/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Poppins:wght@400;600&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* Estilos generales */
body {
    font-family: 'Roboto', system-ui, sans-serif;
    background-color: #fff;
    color: #094585;
    margin: 0;
    padding: 0;
}

/* Estilos para el título de la sección */
.section-title {
    text-align: center; /* Centra el título */
    margin-bottom: 30px;
}

.section-title h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    color: #094585;
    display: inline-block; /* Permite que el subrayado se ajuste al texto */
    position: relative;
    padding-bottom: 10px; /* Espacio entre el texto y el subrayado */
}

.section-title h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; /* El subrayado tiene el mismo ancho que el texto */
    height: 3px; /* Grosor del subrayado */
    background-color: #094585; /* Color del subrayado */
}

.section-title h2::after {
    transition: width 0.3s ease; /* Animación al hacer hover */
}

.section-title h2:hover::after {
    width: 0; /* El subrayado desaparece al hacer hover */
}

/* --------------------------------------------------------------- */
/* --------------------------- header ----------------------------- */
/* --------------------------------------------------------------- */

.header-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header-bg h1 {
    padding-left: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.profession-container {
    height: 2rem;
    display: flex;
    align-items: center;
    padding-left: 0%;
    padding-top: 0%;
    padding-bottom: 15%;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes erase {
    from { width: 100%; }
    to { width: 0; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #fff; }
}

.lead {
    font-size: 1.6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #2E86AB;

    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

.hidden {
    display: none;
}

/* --------------------------------------------------------------- */
/* --------------------------- Menu ----------------------------- */
/* --------------------------------------------------------------- */



/* Estilos para el ícono de menú */
.menu-icon {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 30px;
    right: 30px; /* Posición en la esquina superior derecha */
    background-color: #2E86AB; /* Color celeste */
    color: #fff;
    width: 40px; /* Tamaño de la burbuja */
    height: 40px;
    border-radius: 50%; /* Forma circular */
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001; /* Por encima de la sidebar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para un efecto elevado */
    transition: background-color 0.3s ease; /* Transición suave */
}

/* Efecto al pasar el mouse sobre el ícono */
.menu-icon:hover {
    background-color: #094585; /* Color celeste más oscuro */
}

/* --------------------------------------------------------------- */
/* --------------------------- Sidebar ----------------------------- */
/* --------------------------------------------------------------- */


/* Barra lateral */
#sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #040b14;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease; /* Animación al mostrar/ocultar */
}

.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-header img {
    width: 150px; /* Tamaño más grande */
    height: 150px; /* Tamaño más grande */
    border-radius: 50%; /* Forma circular */
    border: 3px solid #094585; /* Borde celeste */
    margin-bottom: 15px; /* Espacio debajo de la foto */
    object-fit: cover; /* Ajusta la imagen para que no se deforme */
    object-position: top; /* Enfoca la parte superior de la imagen */
    display: block; /* Centrar la imagen */
    margin-left: auto;
    margin-right: auto;
}

.sidebar-header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    margin: 10px 0 5px; /* Ajuste de márgenes */
    color: #fff;
}

.sidebar-header p {
    font-size: 0.9rem;
    color: #E0E0E0; /* Color gris claro */
    margin: 0;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
}

.sidebar-nav ul li {
    margin-bottom: 10px;
}

.sidebar-nav ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar-nav ul li a:hover {
    background-color: #094585;
}

.sidebar-footer {
    text-align: center;
    margin-top: 20px;
}

.sidebar-footer a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.sidebar-footer a:hover {
    color: #2E86AB;
}

/* --------------------------------------------------------------- */
/* --------------------------- responsive ----------------------------- */
/* --------------------------------------------------------------- */

/* Contenido principal */
#main {
    margin-left: 250px;
    padding: 0px;
    transition: margin-left 0.3s ease; /* Animación al mostrar/ocultar la sidebar */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .menu-icon {
        display: flex; /* Mostrar el ícono de menú */
    }

    #sidebar {
        transform: translateX(-100%); /* Ocultar la sidebar */
    }

    #main {
        margin-left: 0; /* Eliminar el margen */
    }

    /* Mostrar la sidebar cuando tenga la clase "active" */
    #sidebar.active {
        transform: translateX(0);
    }
}

/* --------------------------------------------------------------- */
/* ----------------- Formacion y Experiencia --------------------- */
/* --------------------------------------------------------------- */

/* Estilos para las secciones de Formación y Experiencia */
#formacion,
#experiencia {
    padding: 20px 0;
}

/* Estilos para las listas */
#formacion ul,
#experiencia ul {
    list-style: none;
    padding: 0;
}

/* Estilos para cada ítem de formación y experiencia */
#formacion ul li,
#experiencia ul li {
    background-color: #ffffff; /* Fondo blanco */
    border-left: 4px solid #094585; /* Borde lateral */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación al hacer hover */
}

#formacion ul li:hover,
#experiencia ul li:hover {
    transform: translateY(-5px); /* Efecto de elevación al hacer hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada al hacer hover */
}

/* Estilos para los títulos (cargo, título académico) */
#formacion ul li strong,
#experiencia ul li strong {
    color: #094585;
    font-size: 1.2rem;
    display: block; /* Hace que el título ocupe su propia línea */
    margin-bottom: 5px;
}

/* Estilos para los detalles (institución, empresa, fechas) */
#formacion ul li,
#experiencia ul li {
    color: #333;
    font-size: 1rem;
    max-width: 95%;
    margin-left: 1%;
}

#formacion ul li span,
#experiencia ul li span {
    display: block; /* Hace que cada detalle ocupe su propia línea */
    margin-bottom: 5px;
    color: #666;
}

/* Estilos para la descripción de la experiencia */
#experiencia ul li p {
    margin: 10px 0 0;
    color: #333;
    font-size: 0.95rem;
    line-height: 1.5;
}

/* --------------------------------------------------------------- */
/* --------------------------- Perfil ----------------------------- */
/* --------------------------------------------------------------- */


#perfil p {
    font-size: 1.07rem;
    margin-top: 2%;
    margin-bottom: 1rem;
}

.idiomas {
    margin-top: 5px;
}

/* Estilos para las listas con íconos */
.lista-detalles {
    list-style-type: none;
    padding-left: 0;
}

.lista-detalles li {
    font-size: 1rem;
    color: #094585;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.lista-detalles li i {
    margin-right: 10px;
    color: #094585; /* Color del ícono */
}

/* Estilos para el botón de descargar CV */
.btn-primary {
    background-color: #094585;
    border-color: #094585;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #07376e;
    border-color: #07376e;
}

/* --------------------------------------------------------------- */
/* -------------------------- Habilidades ------------------------ */
/* --------------------------------------------------------------- */

/* Estilos para la sección de habilidades */
#habilidades {
    padding: 20px 0;
}

/* Subtítulos de las categorías */
.subtitulo-habilidad {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    color: #094585;
    margin-bottom: 20px;
    text-align: center;
}


#habilidades .row {
    margin-right: 0px;
    margin-left: 0px;
}

/* Estilos para cada ítem de habilidad */
.habilidad-item {
    margin-bottom: 20px;
}

.habilidad-nombre {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 5px;
}

/* Estilos para la barra de progreso */
.progress {
    height: 10px; /* Altura de la barra de progreso */
    background-color: #e9ecef; /* Color de fondo de la barra */
    border-radius: 5px; /* Bordes redondeados */
    overflow: hidden; /* Evita que el contenido se desborde */
}

.progress-bar {
    background-color: #094585; /* Color de la barra de progreso */
    transition: width 0.5s ease; /* Animación suave al cambiar el ancho */
    position: relative;
}

.progress-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); /* Efecto de degradado */
}

/* Efecto hover en la barra de progreso */
.progress-bar:hover {
    background-color: #07376e; /* Cambia el color al hacer hover */
}

/* --------------------------------------------------------------- */
/* --------------------------- Contacto ----------------------------- */
/* --------------------------------------------------------------- */

/* Estilos para la sección de Contacto */
#contacto {
    padding: 20px 0;
    background-color: #fff; /* Fondo claro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos para el formulario */
#contacto form {
    max-width: 600px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario */
    padding: 20px;
}

/* Estilos para los grupos de formulario */
#contacto .form-group {
    margin-bottom: 20px;
}

#contacto .form-group label {
    font-size: 1rem;
    color: #094585; /* Color azul oscuro */
    font-weight: 500; /* Texto seminegrita */
    margin-bottom: 5px;
    display: block;
}

#contacto .form-group input,
#contacto .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 5px; /* Bordes redondeados */
    transition: border-color 0.3s ease; /* Animación suave */
}

#contacto .form-group input:focus,
#contacto .form-group textarea:focus {
    border-color: #094585; /* Borde azul al enfocar */
    outline: none; /* Eliminar el contorno predeterminado */
}

/* Estilos para el botón de enviar */
#contacto button[type="submit"] {
    background-color: #094585; /* Color azul oscuro */
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff; /* Texto blanco */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animación suave */
    margin-left: 43%;
}

#contacto button[type="submit"]:hover {
    background-color: #07376e; /* Color azul más oscuro al hacer hover */
}